
<ion-item (click)="returnToHome()" onkeyup="returnToHome()">
  <ion-button class="flex" fill="clear" size="small">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
    Return to home
  </ion-button>
</ion-item>

<ion-content>
    <ion-list>
      <img width="700" [alt]="meal.strMeal" [src]="meal.strMealThumb" />
      <ion-item>
        <ion-label>
          <p>Dish name</p>
          <h2>{{meal.strMeal}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Category</p>
          <h2>{{meal.strCategory}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Tags</p>
          @for(tag of meal.strTags?.split(','); track $index) {
            <ion-badge color="tertiary">{{tag}}</ion-badge>
          }
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Native Country</p>
          <h2>{{meal.strArea}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Instructions</p>
          <h2>{{ meal.strInstructions }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>


